.back-button-container {
  display: flex;
  justify-content: left;
  width: 100vw;
}
.back-button {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  border-radius: 100px;
  border: none;
  background-color: rgba(172, 172, 172, 0.3);
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 0.15s;
  cursor: pointer;
}
.left-arrow {
  width: 2.8rem;
  opacity: .2;
  position: absolute;
  left: .3rem;
  transition: opacity 0.15s;
}
.back-button:hover .left-arrow {
  opacity: .6;
}
.back-button:hover {
  background-color: rgba(172, 172, 172, 0.5);
}
