.search-container {

  display: flex;
  align-items: center;
  position: relative;
  width: 41vw;
}
.inner-search-container {
 
  position: relative;
  display: flex;
  align-items: center;
}
.search-bar {
  width: 41vw;
  height: 2.5rem;
  border-radius: 50px;
  border: 1px solid;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Inria sans';
  padding-left: 4.4rem;
}
.magnifying-glass {
  width: 1.9rem;
  position: absolute;
  left: 1rem;
  cursor: pointer;
  transition: transform 0.15s;
}
.magnifying-glass:hover {
  transform: scale(1.2);
}
