.artist-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 38vw;
  cursor: pointer;
  transition: background-color 0.15s;
}
.artist-container:hover {
}
.light-mode:hover {
  background-color: rgb(229, 229, 229);
}
.dark-mode:hover {
  background-color: rgb(26, 26, 26);
}
.profile-picture {
  width: 3.4rem;
}
.name {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-family: "Inria sans";
  font-weight: 700;
}