
.dark-mode-logo {
  width: 2rem;
  position: fixed;
  bottom: .6rem;
  right: .6rem;
  cursor: pointer;
  transition: transform 0.15s;
}
.dark-mode-logo:hover {
  transform: scale(1.5);
}



.light-mode-logo {
  width: 2rem;
  position: fixed;
  bottom: .6rem;
  right: .6rem;
  cursor: pointer;
  transition: transform 0.15s;
}
.light-mode-logo:hover {
  transform: scale(1.5);
}

