.profile-container {
  width: 88vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-picture {
  width: 10rem;
  border-radius: 50rem;
  position: absolute;
  left: 6rem;
}