.artworks-slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.artwork{
  height: 80vh;
  animation: slide-show 1.4s forwards;
}

@keyframes slide-show {
  0% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
 }