

.add-button, .cancel-button, .remove-button {
  padding: .3rem;
  position: absolute;
  top: 8.2rem;
  font-family: Inria Sans;
  font-weight: 700;
  font-size: 1rem;
  border: solid 1px;
  cursor: pointer;
  transition: border-color 0.15s, color 0.15s;
}

.add-button:hover {
  color: rgb(19, 141, 19);
  border-color:  rgb(19, 141, 19);
}

.cancel-button {
  left: 3.7rem;
}
.cancel-button:hover, .remove-button:hover {
  color: rgb(207, 33, 33);
  border-color: rgb(207, 33, 33);
}

.input-url {
  background-color: transparent;
  border: solid 1px;
  font-family: Inria Sans;
  position: absolute;
  top: 8.2rem;
  left: 9rem;
  padding: .3rem;
  font-size: 1rem;
  width: 20rem;
}
.dark {
  color: black;
}
.light {
  color: rgb(222, 222, 222);
}
.light::placeholder {
  color: rgb(43, 43, 43);
}