

.favorite-toggle-button {
  padding: .3rem;
  position: absolute;
  top: 8.2rem;
  font-family: Inria Sans;
  font-weight: 700;
  font-size: 1rem;
  border: solid 1px;
  cursor: pointer;
}

.favorite-toggle-button:hover {
  color: rgb(14, 119, 14);
  border-color: rgb(14, 119, 14);
}
.input-url {
  background-color: transparent;
  border: solid 1px;
  font-family: Inria Sans;
  position: absolute;
  top: 8.2rem;
  left: 4rem;
  padding: .3rem;
  font-size: 1rem;
  width: 20rem;
}
.dark {
  color: black;
}
.light {
  color: rgb(222, 222, 222);
}