.mini-box-profile-container {
  position: absolute;
  bottom: .4rem;
  left: 1rem;
}
.profile-picture {
  height: 4rem;
}
.name {
  position: absolute;
  top: .3rem;
  margin-left: 1rem;
  font-family: Inria Sans;
  font-weight: 700;
  font-size: 1.6rem;
}